<div class="thin comments"> 
    <div id="remark42"></div>
    <script>
    var remark_config = {
        site_id: 'nikitag-remark',
        url: window.location.href.replace(/galaiko/g, 'galayko'),
        theme: 'dark'
    };
    (function() {
        var d = document, s = d.createElement('script');
        var baseURL = 'https://remark.galaiko.rocks';
        s.src = baseURL + '/web/embed.js';
        s.type = 'text/javascript';
        (d.head || d.body).appendChild(s);
    })();
    </script>
</div>
